{% extends 'base.html.twig' %}
{% block title %}Aulas FCVS
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{#<style>
		{% if not is_mobile %}
			.container-fluid {
				background-image: url("{{ asset('image/fcvs_uader_publica.jpg') }}");
				background-repeat: no-repeat;
				background-attachment: fixed;
				background-size: 100%;
				
			}
		{% endif %}
	</style>#}
{% endblock %}
{% block body %}
	{{parent()}}
	<div class="container-fluid p-5 my-5 border bg-primary">
	{% if is_mobile %}
		<h5 class="text-center">Bienvenido</h2>
		<h6 class="text-center">Aquí podrá consultar la ocupación de los diferentes espacios de la Facultad, sus actividades y horarios</h5>
	{% else %}
		<h4 class="text-center text-white">Bienvenido</h2>
		<h5 class="text-center text-white">Aquí podrá consultar la ocupación de los diferentes espacios de la Facultad, sus actividades y horarios</h5>
	{% endif %}
	<div class="container-sm">
		<div class="text-center">
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				{# <small>Usuario: {{ app.user.username }}</small> #}
				<a class="btn btn-lg" href="{{path('ocupacion_index')}}" role="button"><i class="bi bi-calendar2-check"></i>&nbsp;Ver Ocupaciones</a>
			{% else %}	
				<a class="btn btn-success btn-lg" href="{{ path('app_login') }}" role="button">Ingresar</a>
			{% endif %} 
		</div>
	</div>
	</div>
{% endblock %}
