{% extends 'base.html.twig' %}
{% block title %}Aulas FCVS
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{#<style>
							{% if not is_mobile %}
								.container-fluid {
									background-image: url("{{ asset('image/fcvs_uader_publica.jpg') }}");
									background-repeat: no-repeat;
									background-attachment: fixed;
									background-size: 100%;
									
								}
							{% endif %}
						</style>#}
{% endblock %}
{% block body %}
{{parent()}}
<div class="container-fluid p-5 my-5 border bg-success">
	{% if is_mobile %}
		<h5 class="text-center">Sistema de Ocupación de Aulas</h2>
		<h6 class="text-center">Aquí podrá consultar la ocupación de los diferentes espacios de la Facultad, sus actividades y horarios</h5>
	{% else %}
		<h4 class="text-center text-white">Sistema de Ocupación de Aulas</h2>
		<h5 class="text-center text-white">Aquí podrá consultar la ocupación de los diferentes espacios de la Facultad, sus actividades y horarios</h5>
	{% endif %}
	<br>
	{# <div class="container-sm">
						<div class="text-center">
							{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
								<a class="btn btn-success btn-lg" href="{{ path('ocupacion_index') }}" role="button">
									<i class="bi bi-calendar2-check"></i>&nbsp;Ver Ocupaciones</a>
							{% else %}
								<a class="btn btn-success btn-lg" href="{{ path('app_login') }}" role="button">
									<i class="bi bi-calendar2-check"></i>&nbsp;Ver Ocupaciones</a>
							{% endif %}
						</div>
					</div> #}
</div>
<div class="container">
	<div class="row">
		{% set sede = 'nn' %}
		{% for edificio in edificios %}
			{% if sede!=edificio.Sede %}
				{% set sede = edificio.Sede %}
				{% if not loop.first %}
					</div></div></div>
				{% endif %}
		<div class="col">
			<div class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
				<h5 class="card-title"><i class="bi bi-house"></i>&nbsp;{{edificio.Sede}}</h5>
				<div class="card-body">
			{% endif %}
			<p><a class="card-text" href="{{ path('ocupacion_index', {edificio: edificio.id}) }}">{{edificio.edificio}}</a></p>
			{% if loop.last %}
				</div></div></div>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}
{% block footer %}{{parent()}}{% endblock %}
