{% extends 'base.html.twig' %}

{% block cardheader %}
	<div class="col-sm-8">
		<h5>Areas</h5>
	</div>
    <div class="col-sm-4">
        <a href="{{ path('areas_new') }}" class="btn btn-sm btn-outline-secondary" role="button"><i class="bi bi-plus-square"></i> Nueva</a>
    </div>
{% endblock %}
{% block cardbody %}
    <table class="table table-sm table-striped table-borderless">
        <thead>
            <tr>
                <th>Id</th>
                <th>Area</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for area in areas %}
            <tr>
                <td>{{ area.id }}</td>
                <td>{{ area.area }}</td>
                <td>
                    {# <a href="{{ path('areas_show', {'id': area.id}) }}">ver</a> #}
                    {% if is_granted("ROLE_ROOT") %}
                    <a href="{{ path('areas_edit', {'id': area.id}) }}"><i class="bi bi-pencil-square"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
