{% extends 'base.html.twig' %}

{% block title %}Areas{% endblock %}

{% block body %}
    <h1>Areas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ area.id }}</td>
            </tr>
            <tr>
                <th>Area</th>
                <td>{{ area.area }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('areas_index') }}">back to list</a>

    <a href="{{ path('areas_edit', {'id': area.id}) }}">edit</a>

    {{ include('areas/_delete_form.html.twig') }}
{% endblock %}
