{% extends 'base.html.twig' %}

{% block cardheader %}
	<div class="col-sm-8">
		<h5><i class="bi bi-file-earmark-spreadsheet"></i> {{catedras[0].area}} <i class="bi bi-arrow-right-short"></i> Actividades</h5>
	</div>
    <div class="col-sm-4">
        <a href="{{ path('catedras_new') }}" class="btn btn-sm btn-outline-secondary" role="button"><i class="bi bi-plus-square"></i> Nueva</a>
    </div>
{% endblock %}
{% block cardbody %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                {# <th>acciones</th> #}
            </tr>
        </thead>
        <tbody>
        {% for catedra in catedras %}
            <tr>
                <td>{{ catedra.id }}</td>
                <td>{{ catedra.nombre }}</td>
                <td>
                    {% if is_granted("ROLE_ROOT") %}
                    <a href="{{ path('catedras_edit', {'id': catedra.id}) }}"><i class="bi bi-pencil-square"></i></i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">sin registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('areas_index') }}" class="btn btn-sm btn-outline-secondary" role="button">volver</a>
{% endblock %}
