{% extends 'base.html.twig' %}

{% block title %}Catedras{% endblock %}

{% block body %}
    <h1>Catedras</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ catedra.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ catedra.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('catedras_index') }}">back to list</a>

    <a href="{{ path('catedras_edit', {'id': catedra.id}) }}">edit</a>

    {{ include('catedras/_delete_form.html.twig') }}
{% endblock %}
