{% extends 'base.html.twig' %}

{% block title %}Edificios de Usuario{% endblock %}
{% block cardheader %}
	<div class="col-sm-8">
		<h5><i class="bi bi-columns"></i> Edificios de Usuario</h5>
	</div>
    <div class="col-sm-4">
        <a href="{{ path('app_user_edificios_new') }}" class="btn btn-sm btn-outline-secondary" role="button"><i class="bi bi-plus-square"></i> Nuevo</a>
    </div>
{% endblock %}
{% block cardbody %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Edificio</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for user_edificio in user_edificios %}
            <tr>
                <td>{{ user_edificio.id }}</td>
                <td>{{ user_edificio.user }}</td>
                <td>{{ user_edificio.edificio }}</td>
                <td>
                    {# <a href="{{ path('app_user_edificios_show', {'id': user_edificio.id}) }}">ver</a> #}
                    <a href="{{ path('app_user_edificios_edit', {'id': user_edificio.id}) }}"><i class="bi bi-pencil-square"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">sin registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
