{% extends 'base.html.twig' %}

{% block title %}Edificio de Usuario{% endblock %}
{% block cardheader %}
	<div class="col-sm-8">
		<h5>Edificio de Usuario</h5>
	</div>
	<div class="col-sm-2">
		<a href="{{ path('app_user_edificios_edit', {'id': user_edificio.id}) }}" class="btn btn-outline-primary" role="button">Editar</a>
	</div>
	<div class="col-sm-2">
		{{ include('user_edificios/_delete_form.html.twig') }}
	</div>
{% endblock %}
{% block cardbody %}
    <table class="table">
        <tbody>
            <tr>
                <th>Usuario</th>
                <td>{{ user_edificio.user }}</td>
                <th>Edificio</th>
                <td>{{ user_edificio.edificio }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_user_edificios_index') }}" class="btn btn-sm btn-outline-secondary" role="button">volver</a>
{% endblock %}
