<div class="container">
	{{ form_start(form, {'action': action, 'attr': {'id': 'formOcup'} } ) }}
	<div class="input-group mb-3">
		<div class="col-12">
			<span class="input-group-text">Aula</span>
			{{form_widget(form.id_aula)}}
		</div>
	</div>
	<div class="input-group mb-3">
		<div class="col-5">
			<span class="input-group-text">Area</span>
			{{form_widget(form.id_area)}}
		</div>
		<div class="col-7">
			<span class="input-group-text">Cátedra</span>
			{{form_widget(form.id_catedra)}}
		</div>
	</div>
	<div class="input-group mb-3">
		<div class="col-2">
			<span class="input-group-text">Comisión</span>
			{{form_widget(form.comision)}}
		</div>
		<div class="col-4">
			<span class="input-group-text">Fecha</span>
			{{form_widget(form.fecha)}}
		</div>
		<div class="col-3">
			<span class="input-group-text">Inicio</span>
			{{form_widget(form.hora_inicio)}}
		</div>
		<div class="col-3">
			<span class="input-group-text">Fin</span>
			{{form_widget(form.hora_fin)}}
		</div>
	</div>
	<div class="d-flex justify-content-between align-items-center">
		<button type="submit" class="btn btn-primary" id="btnGuardar">Guardar</button>
		<span id="msj" style="color: red;"></span>
		<span class="spinner-border spinner text-info" id="spinner" role="status" aria-hidden="true" style="display: none"></span>
	</div>
	{{ form_end(form) }}
</div>
<script>
	var selArea = $('#ocupacion_id_area');
	var selCatedra = $('#ocupacion_id_catedra');
	$('#ocupacion_id_area').change(function() {
  		var data = {};
  		data[selArea.attr('name')] = selArea.val();
		selCatedra.html('');
  		$.ajax({
    		url : '/areas/'+selArea.val()+'/catedras',
    		type: 'POST',
    		dataType : 'JSON',
    		success: function(catedras) {
				$.each(catedras, function (key, catedra) {
        			selCatedra.append('<option value="' + catedra.id + '">' + catedra.nombre + '</option>');
        		});
    	
    		}
  		});
	});
</script>