<div class="container">
	{{ form_start(form, {'action': action, 'attr': {'id': 'formOcup'} } ) }}
	<div class="input-group mb-3">
		<div class="form-floating col-12">
			{{form_widget(form.id_aula)}}
			<label for="ocupacion_id_aula">Aula</label>
		</div>
	</div>
	<div class="input-group mb-3">
		<div class="form-floating col-5">
			{{form_widget(form.id_area)}}
			<label for="ocupacion_id_area">Area</label>
		</div>
		<div class="form-floating col-7 ps-2">
			{{form_widget(form.id_catedra)}}
			<label for="ocupacion_id_catedra">Actividad</label>
		</div>
	</div>
	<div class="input-group mb-3">
		<div class="form-floating col-2">
			{{form_widget(form.comision, {'attr': {'placeholder': 'Comisi贸n'}})}}
			<label for="ocupacion_comision">Comisi贸n</label>
		</div>
		<div class="form-floating col-4 ps-2">
			{{form_widget(form.fecha)}}
			<label for="ocupacion_fecha">Fecha</label>
		</div>
		<div class="form-floating col-3 ps-2">
			{{form_widget(form.hora_inicio)}}
			<label for="ocupacion_hora_inicio">Inicio</label>
		</div>
		<div class="form-floating col-3 ps-2">
			{{form_widget(form.hora_fin)}}
			<label for="ocupacion_hora_fin">Fin</label>
		</div>
	</div>
	<div class="input-group mb-3">
		<div class="form-floating col-12">
			{{form_widget(form.observaciones, {'attr': {'placeholder': 'Observaciones'}})}}
			<label for="ocupacion_observaciones">Observaciones</label>	
		</div>
	</div>
	<div class="input-group mt-4">
		<div class="col-2 align-middle">
			{% if ocupacion.getRepIdPadre() > 0 %}
				{{form_widget(form.rep_semanal, { 'attr': { 'disabled': 'true' } })}}
			{% else %}
				{{ form_widget(form.rep_semanal) }}
			{% endif %}
		</div>
		<div class="form-floating col-4 ps-2">
			{% if ocupacion.getRepIdPadre() > 0 %}
				{{form_widget(form.rep_fecha_fin, { 'attr': { 'disabled': 'true' } })}}
			{% else %}
				{{form_widget(form.rep_fecha_fin)}}
			{% endif %}
			<label for="ocupacion_rep_fecha_fin">Fin Repetici贸n</span>
		</div>
		{% if ocupacion.getRepSemanal() %}
		<div class="col-6 ps-3">
			Inicio Repetici贸n: {{ fecha_padre|date('l d/m/Y') }}
		</div>
		{% endif %}
	</div>
	<div class="d-flex justify-content-between align-items-center">
		<span class="spinner-border spinner text-info" id="spinner" role="status" aria-hidden="true" style="display: none"></span>
		<span id="msj" style="color: red;"></span>
		<button type="submit" class="btn btn-primary" id="btnGuardar">Guardar</button>
	</div>
	<input type="hidden" id="idocup" value={{idOcup}}>
	{{ form_end(form) }}
</div>

<script>
	// filtrar Catedras por Area
	var selArea = $('#ocupacion_id_area');
	var selCatedra = $('#ocupacion_id_catedra');
	$('#ocupacion_id_area').change(function() {
		selCatedra.html('');
		if (selArea.val()>0) {
  		$.ajax({
    		url : '/areas/'+ selArea.val() +'/catedras',
    		type: 'POST',
    		dataType : 'JSON'
		  }).done(function(catedras) {
				$.each(catedras, function (key, catedra) {
        			selCatedra.append('<option value="' + catedra.id + '">' + catedra.nombre + '</option>');
        		});
    		});
		}
	});
</script>
