<td class="bg-light" colspan="{{bloques}}">
	<div class="container-ocup">
		<div class="info-ocup">
			<div class="text-verdelogo lh-1"><strong>{{ocup.IdCatedra }}</strong></div>
			<div class="badge bg-secondary text-white">Comisión: {{ocup.comision}}</div>
			<div class="text-verdelogo">{{ocup.IdArea}}</div>
			<div class="text-black align-bottom fw-bold"><small>{{inicio}}&nbsp;a&nbsp;{{fin}}</small></div>
		</div>
		{% if ocup.observaciones %}
			<div class="overlay">
				<div class="obs-ocup px-1 lh-1">{{ ocup.observaciones }}</div>
			</div>
		{% endif %}
	</div>
	{% if is_granted("ROLE_ADMIN") %}
		<div class="d-flex justify-content-center">
			<a href="javascript:void(0)" rel="nofollow" id="btn-edit" data-edit-id="{{ ocup.id }}" onclick="editar(this);"><i class="bi bi-pencil-square"></i></a>
			{{ include('ocupacion/_delete_form.html.twig', {'id': ocup.id}) }}
		</div>
	{% endif %}
</td>
