<div class="text-verdelogo lh-1">
	<strong>{{ocup.IdCatedra }}</strong>
</div>
<div class="text-primary">Comisión:{{ocup.comision}}</div>
<div class="text-info">{{ocup.IdArea}}</div>
<div class="text-danger align-bottom fw-bold">
	{{ocup.horaInicio|date('H:i')}}&nbsp;a&nbsp;{{ocup.horaFin|date('H:i')}}
</div>
{% if is_granted("ROLE_ADMIN") %}
<div class="d-flex justify-content-center">
	<a href="javascript:void(0)" rel="nofollow" id="btn-edit" data-edit-id="{{ ocup.id }}" onclick="editar(this);"><i class="fas fa-edit"></i></a>
	{{ include('ocupacion/_delete_form.html.twig', {'id': ocup.id}) }}
</div>
{% endif %}
<br>