<td
	colspan="{{bloques}}" style="transform: rotate(0);">
	{# verde: 047835   00a2a7 #}
	<div class="text-verdelogo lh-1">
		<strong>{{ocup.IdCatedra }}</strong>
	</div>
	<div class="text-primary">Comisión:{{ocup.comision}}</div>
	<div class="text-info">{{ocup.IdArea}}</div>
	<div class="text-danger align-bottom fw-bold">
		<small>{{inicio}}&nbsp;a&nbsp;{{fin}}</small>
	</div>
	<a href="#" rel="nofollow" id="btn-edit" data-edit-id="{{ ocup.id }}" onclick="editar(this);">
		<i class="fas fa-edit"></i>
	</a>
</td>
