<td class="bg-info border-end" colspan="{{bloques}}">
	<div class="container-ocup">
		<div class="info-ocup">
			<div class="lh-1">{{ocup.IdCatedra }}</div>
			<div class="text-verdelogo">{{ocup.IdArea}}</div>
			<div class="text-black align-bottom fw-bold">
				{{ocup.IdAula}}&nbsp;-&nbsp;{{inicio}}&nbsp;a&nbsp;{{fin}}&nbsp;hs.
			</div>
		</div>
		{% if ocup.observaciones %}
			<div class="overlay">
				<div class="obs-ocup px-1 lh-1">{{ ocup.observaciones }}</div>
			</div>
		{% endif %}
	</div>
	<small>Comisiones:</small>
	<a href="javascript:void(0)" rel="nofollow" id="btn-edit" data-edit-id="{{ ocup.id }}" onclick="editar(this);">
	<div class="badge bg-secondary text-white">{{ocup.comision}}</div></a>
