<div class="text-verdelogo lh-1">
	<strong>{{ocup.IdCatedra }}</strong>
</div>
<div class="text-primary">Comisión:{{ocup.comision}}</div>
<div class="text-info">{{ocup.IdArea}}</div>
<div class="text-danger align-bottom fw-bold">
	{{ocup.horaInicio|date('H:i')}}&nbsp;a&nbsp;{{ocup.horaFin|date('H:i')}}
</div>
<a href="#" rel="nofollow" id="btn-edit" data-edit-id="{{ ocup.id }}" onclick="editar(this);">
	<i class="fas fa-edit"></i>
</a>
<br>