<td colspan="{{bloques}}" style="transform: rotate(0); background-color: #00a2a7;">
    <span class="padding-5px-tb padding-5px-lr border-radius-5 margin-5px-bottom text-white font-size16 xs-font-size13">{{ocup.IdCatedra }}</span>
    <div class="margin-10px-top font-size14"><strong>{{inicio}}&nbsp;a&nbsp;{{fin}}</strong></div>
    <div class="font-size13 text-light-gray">Comisión:{{ocup.comision}}</div>
    <a href="#" rel="nofollow" id="btn-edit" data-edit-id="{{ ocup.id }}" onclick="editar(this);"><i class="fas fa-edit"></i></a>
</td>