{% extends 'base.html.twig' %}

{% block cardheader %}
	{{ include("ocupacion/_fecha_vistas.html.twig", {vista: "horas"}) }}
	{{ include("ocupacion/_form_filtro_area.html.twig", {vista: "horas"}) }}
{% endblock %}
{% block cardbody %}
{% set ultHora = '99:99' %}
{% set idx = -1 %}
{% set ocupacion=ocupacions[0] %}
{% for ocup in ocupacion %}
{% if idx<loop.index0 %} {# si no se cargó la ocupacion siguiente #}
	{% set idx = loop.index0 %}
	{% set inicio = ocup.horaInicio|date('H:i') %}
	{% set fin = ocup.horaFin|date('H:i') %}
	{% if ultHora != inicio %}
		{% set ultHora = inicio %}
		{% if not loop.first %}
			</div></div></div>
		{% endif %}
		<div class="row mb-2 text-center border-bottom" id="rowOcups">
			<div class="col-sm-1 text-success fw-bold fs-5">{{ inicio }}&nbsp;hs</div>
			<div class="col-sm-11">
				<div class="row">
	{% endif %}
	<div class="col-md-auto bg-info border-bottom border-end">
		<div class="container-ocup">
		<div class="info-ocup p-2">
		<div class="lh-1">{{ ocup.IdCatedra }}</div>
		<div class="text-verdelogo">{{ ocup.IdArea }}</div>
		<div class="text-black align-bottom fw-bold">
			{{ ocup.IdAula }}&nbsp;-&nbsp;{{ inicio }}&nbsp;a&nbsp;{{ fin }}&nbsp;hs
		</div>
		{% if ocup.observaciones %}
			<div class="overlay"><div class="obs-ocup px-1 lh-1">{{ ocup.observaciones }}</div></div>
		{% endif %}
		<small>Comisiones:</small>
		<a href="javascript:void(0)" rel="nofollow" id="btn-edit" data-edit-id="{{ ocup.id }}" onclick="editar(this);">
			<div class="badge bg-secondary text-white">{{ ocup.comision }}</div></a>
		{% if not loop.last %}
			{% set ocupSig = ocupacion[loop.index0+1] %}
			{% if ocupSig.IdCatedra==ocup.IdCatedra and ocupSig.horaInicio==ocup.horaInicio and ocupSig.IdAula==ocup.IdAula %}
				<a href="javascript:void(0)" rel="nofollow" id="btn-edit" data-edit-id="{{ ocupSig.id }}" onclick="editar(this);">
					<div class="badge bg-secondary text-white">{{ ocupSig.comision }}</div></a>
				{% set idx = (loop.index0+1) %} {# igualar para que no vuelva a cargar la ocupacion #}
			{% endif %}
		{% endif %}
		</div></div>
	</div>
	{% if loop.last %}
		</div></div>></div>
	{% endif %}
{% endif %}
{% endfor %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
    <script src="{{ asset('js/ocupacion.js') }}"></script>
{% endblock %}