{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('styles/tabla_ocup.css') }}" rel="stylesheet"/>
{% endblock %}
{% block cardheader %}
	<div class="col-sm-5">
		<h5>Ocupación de Aulas por día</h5>
	</div>
	<div class="col-sm-6">
		<a class="btn btn-sm btn-outline-secondary" href="{{ path('ocupacion_index', {dia: 'now'}) }}" role="button"><i class="fas fa-calendar-day"></i>&nbsp;Hoy</a>
		&nbsp;&nbsp;&nbsp;
		<a class="btn btn-sm btn-outline-secondary" href="{{ path('ocupacion_index', {dia: fecha|date_modify("-1 day")|date('Y-m-d')}) }}" role="button"><i class="fas fa-chevron-circle-left"></i></a>
		<span>&nbsp;{{fecha|date('d/m/Y')}}&nbsp;</span>
		<a class="btn btn-sm btn-outline-secondary" href="{{ path('ocupacion_index', {dia: fecha|date_modify("+1 day")|date('Y-m-d')}) }}" role="button"><i class="fas fa-chevron-circle-right"></i></a>
		&nbsp;&nbsp;&nbsp;
		<a class="btn btn-sm btn-outline-secondary" href="{{ path('ocupacion_index', {dia: fecha|date('Y-m-d'), vista: 'semanal'}) }}" role="button"><i class="fas fa-calendar-day"></i>&nbsp;Semanal</a>
	</div>
	<div class="col-sm-1">
		{# <a class="btn btn-sm btn-outline-secondary" href="{{ path('ocupacion_new', {aula: 1, dia: fecha|date('Y-m-d'), hora: "14:00"|date('H:i')}) }}" role="button"<i class="fas fa-plus-square"></i></a> #}
		{# {{ render(controller('App\\Controller\\OcupacionController::new', {aula: 1, dia: fecha|date('Y-m-d'), hora: "14:00"|date('H:i')})) }} #}
	</div>
{% endblock %}
{% block cardbody %}
	<div class="container-fluid">
		<div class="table-responsive">
			<table class="table table-bordered text-center">
				<thead>
					<tr class="bg-light-gray">
						<th class="col-sm-1 text-uppercase">Aula</th>
						<th class="col-sm-1 text-uppercase">14:00</th>
						<th class="col-sm-1 text-uppercase">14:30</th>
						<th class="col-sm-1 text-uppercase">15:00</th>
						<th class="col-sm-1 text-uppercase">15:30</th>
						<th class="col-sm-1 text-uppercase">16:00</th>
						<th class="col-sm-1 text-uppercase">16:30</th>
						<th class="col-sm-1 text-uppercase">17:00</th>
						<th class="col-sm-1 text-uppercase">17:30</th>
						<th class="col-sm-1 text-uppercase">18:00</th>
						<th class="col-sm-1 text-uppercase">18:30</th>
						<th class="col-sm-1 text-uppercase">19:00</th>
						<th class="col-sm-1 text-uppercase">19:30</th>
						<th class="col-sm-1 text-uppercase">20:00</th>
						<th class="col-sm-1 text-uppercase">20:30</th>
					</tr>
				</thead>
				<tbody>
					{% for ocupacion in ocupacions %}
						{% if ocupacion[0].id is null %} 
							<tr>
								<td class="align-middle">
									{{ocupacion[0].IdAula}}<div class="font-size13 text-light-gray">Capacidad:{{ocupacion[0].IdAula.capacidad}}</div>
								</td>
								<td class="bg-light-gray" style="transform: rotate(0)">
									<div class="margin-10px-top font-size14">14:00</div>
									<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocupacion[0].IdAula.id, dia: fecha|date('Y-m-d'), hora: "14:00"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
								</td>
								<td class="bg-light-gray" style="transform: rotate(0)">
									<div class="margin-10px-top font-size14">14:30</div>
									<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocupacion[0].IdAula.id, dia: fecha|date('Y-m-d'), hora: "14:30"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
								</td>
								<td class="bg-light-gray" style="transform: rotate(0)">
									<div class="margin-10px-top font-size14">15:00</div>
									<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocupacion[0].IdAula.id, dia: fecha|date('Y-m-d'), hora: "15:00"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
								</td>
								<td class="bg-light-gray" style="transform: rotate(0)">
									<div class="margin-10px-top font-size14">15:30</div>
									<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocupacion[0].IdAula.id, dia: fecha|date('Y-m-d'), hora: "15:30"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
								</td>
								<td class="bg-light-gray" style="transform: rotate(0)">
									<div class="margin-10px-top font-size14">16:00</div>
									<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocupacion[0].IdAula.id, dia: fecha|date('Y-m-d'), hora: "16:00"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
								</td>
								<td class="bg-light-gray" style="transform: rotate(0)">
									<div class="margin-10px-top font-size14">16:30</div>
									<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocupacion[0].IdAula.id, dia: fecha|date('Y-m-d'), hora: "16:30"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
								</td>
								<td class="bg-light-gray" style="transform: rotate(0)">
									<div class="margin-10px-top font-size14">17:00</div>
									<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocupacion[0].IdAula.id, dia: fecha|date('Y-m-d'), hora: "17:00"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
								</td>
								<td class="bg-light-gray" style="transform: rotate(0)">
									<div class="margin-10px-top font-size14">17:30</div>
									<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocupacion[0].IdAula.id, dia: fecha|date('Y-m-d'), hora: "17:30"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
								</td>
								<td class="bg-light-gray" style="transform: rotate(0)">
									<div class="margin-10px-top font-size14">18:00</div>
									<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocupacion[0].IdAula.id, dia: fecha|date('Y-m-d'), hora: "18:00"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
								</td>
								<td class="bg-light-gray" style="transform: rotate(0)">
									<div class="margin-10px-top font-size14">18:30</div>
									<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocupacion[0].IdAula.id, dia: fecha|date('Y-m-d'), hora: "18:30"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
								</td>
								<td class="bg-light-gray" style="transform: rotate(0)">
									<div class="margin-10px-top font-size14">19:00</div>
									<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocupacion[0].IdAula.id, dia: fecha|date('Y-m-d'), hora: "19:00"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
								</td>
								<td class="bg-light-gray" style="transform: rotate(0)">
									<div class="margin-10px-top font-size14">19:30</div>
									<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocupacion[0].IdAula.id, dia: fecha|date('Y-m-d'), hora: "19:30"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
								</td>
								<td class="bg-light-gray" style="transform: rotate(0)">
									<div class="margin-10px-top font-size14">20:00</div>
									<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocupacion[0].IdAula.id, dia: fecha|date('Y-m-d'), hora: "20:00"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
								</td>
								<td class="bg-light-gray" style="transform: rotate(0)">
									<div class="margin-10px-top font-size14">20:30</div>
									<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocupacion[0].IdAula.id, dia: fecha|date('Y-m-d'), hora: "20:30"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
								</td>
							</tr>
						{% else %}
							<tr>
								{% set ultCol=0 %}
								{% set cant = ocupacion|length %}
								{% for i in 0..13 %}
									{% if i < cant %}
										{% set ocup=ocupacion[i] %}
									{% endif %}

									{% set inicio=ocup.horaInicio|date('H:i') %}
									{% set fin=ocup.horaFin|date('H:i') %}
									{% set h1=ocup.horaInicio|date('H') %}
									{% set m1=ocup.horaInicio|date('i') %}
									{% set h2=ocup.horaFin|date('H') %}
									{% set m2=ocup.horaFin|date('i') %}

									{% if m1 in range(1,15) %}
										{% set m1=0 %}
									{% endif %}
									{% if m1 in range(16,44) %}
										{% set m1=30 %}
									{% endif %}
									{% if m1 in range(45,59) %}
										{% set h1=h1+1 %}
										{% set m1=0 %}
									{% endif %}
									{% set bloques=(((h2-h1)*60+m2-m1)/30)|round %}

									{% set continuar=true %}
									{% if ultCol==0 %}
										<td class="align-middle">
											{{ocup.IdAula}}<div class="font-size13 text-light-gray">Capacidad:{{ocup.IdAula.capacidad}}</div>
										</td>
									{% endif %}

									{% if 1 > ultCol %}
										{% if continuar==true %}
											{% if h1==14 and m1==00 %}
												{% set ultCol=bloques %}
												{% include 'ocupacion/_td_ocup.html.twig' %}
												{% set continuar=false %}
											{% else %}
												{% set ultCol=1 %}
												<td class="bg-light-gray" style="transform: rotate(0)">
													<div class="margin-10px-top font-size14">14:00</div>
													<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocup.IdAula.id, dia: fecha|date('Y-m-d'), hora: "14:00"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
												</td>
											{% endif %}
										{% endif %}
									{% endif %}

									{% if 2 > ultCol %}
										{% if continuar==true %}
											{% if h1==14 and m1==30 %}
												{% set ultCol=ultCol+bloques %}
												{% include 'ocupacion/_td_ocup.html.twig' %}
												{% set continuar=false %}
											{% else %}
												{% set ultCol=2 %}
												<td class="bg-light-gray" style="transform: rotate(0)">
													<div class="margin-10px-top font-size14">14:30</div>
													<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocup.IdAula.id, dia: fecha|date('Y-m-d'), hora: "14:30"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
												</td>
											{% endif %}
										{% endif %}
									{% endif %}

									{% if 3 > ultCol %}
										{% if continuar==true %}
											{% if h1==15 and m1==00 %}
												{% set ultCol=ultCol+bloques %}
												{% include 'ocupacion/_td_ocup.html.twig' %}
												{% set continuar=false %}
											{% else %}
												{% set ultCol=3 %}
												<td class="bg-light-gray" style="transform: rotate(0)">
													<div class="margin-10px-top font-size14">15:00</div>
													<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocup.IdAula.id, dia: fecha|date('Y-m-d'), hora: "15:00"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
												</td>
											{% endif %}
										{% endif %}
									{% endif %}

									{% if 4 > ultCol %}
										{% if continuar==true %}
											{% if h1==15 and m1==30 %}
												{% set ultCol=ultCol+bloques %}
												{% include 'ocupacion/_td_ocup.html.twig' %}
												{% set continuar=false %}
											{% else %}
												{% set ultCol=4 %}
												<td class="bg-light-gray" style="transform: rotate(0)">
													<div class="margin-10px-top font-size14">15:30</div>
													<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocup.IdAula.id, dia: fecha|date('Y-m-d'), hora: "15:30"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
												</td>
											{% endif %}
										{% endif %}
									{% endif %}

									{% if 5 > ultCol %}
										{% if continuar==true %}
											{% if h1==16 and m1==00 %}
												{% set ultCol=ultCol+bloques %}
												{% include 'ocupacion/_td_ocup.html.twig' %}
												{% set continuar=false %}
											{% else %}
												{% set ultCol=5 %}
												<td class="bg-light-gray" style="transform: rotate(0)">
													<div class="margin-10px-top font-size14">16:00</div>
													<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocup.IdAula.id, dia: fecha|date('Y-m-d'), hora: "16:00"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
												</td>
											{% endif %}
										{% endif %}
									{% endif %}

									{% if 6 > ultCol %}
										{% if continuar==true %}
											{% if h1==16 and m1==30 %}
												{% set ultCol=ultCol+bloques %}
												{% include 'ocupacion/_td_ocup.html.twig' %}
												{% set continuar=false %}
											{% else %}
												{% set ultCol=6 %}
												<td class="bg-light-gray" style="transform: rotate(0)">
													<div class="margin-10px-top font-size14">16:30</div>
													<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocup.IdAula.id, dia: fecha|date('Y-m-d'), hora: "16:30"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
												</td>
											{% endif %}
										{% endif %}
									{% endif %}

									{% if 7 > ultCol %}
										{% if continuar==true %}
											{% if h1==17 and m1==00 %}
												{% set ultCol=ultCol+bloques %}
												{% include 'ocupacion/_td_ocup.html.twig' %}
												{% set continuar=false %}
											{% else %}
												{% set ultCol=7 %}
												<td class="bg-light-gray" style="transform: rotate(0)">
													<div class="margin-10px-top font-size14">17:00</div>
													<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocup.IdAula.id, dia: fecha|date('Y-m-d'), hora: "17:00"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
												</td>
											{% endif %}
										{% endif %}
									{% endif %}

									{% if 8 > ultCol %}
										{% if continuar==true %}
											{% if h1==17 and m1==30 %}
												{% set ultCol=ultCol+bloques %}
												{% include 'ocupacion/_td_ocup.html.twig' %}
												{% set continuar=false %}
											{% else %}
												{% set ultCol=8 %}
												<td class="bg-light-gray" style="transform: rotate(0)">
													<div class="margin-10px-top font-size14">17:30</div>
													<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocup.IdAula.id, dia: fecha|date('Y-m-d'), hora: "17:30"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
												</td>
											{% endif %}
										{% endif %}
									{% endif %}

									{% if 9 > ultCol %}
										{% if continuar==true %}
											{% if h1==18 and m1==00 %}
												{% set ultCol=ultCol+bloques %}
												{% include 'ocupacion/_td_ocup.html.twig' %}
												{% set continuar=false %}
											{% else %}
												{% set ultCol=9 %}
												<td class="bg-light-gray" style="transform: rotate(0)">
													<div class="margin-10px-top font-size14">18:00</div>
													<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocup.IdAula.id, dia: fecha|date('Y-m-d'), hora: "18:00"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
												</td>
											{% endif %}
										{% endif %}
									{% endif %}

									{% if 10 > ultCol %}
										{% if continuar==true %}
											{% if h1==18 and m1==30 %}
												{% set ultCol=ultCol+bloques %}
												{% include 'ocupacion/_td_ocup.html.twig' %}
												{% set continuar=false %}
											{% else %}
												{% set ultCol=10 %}
												<td class="bg-light-gray" style="transform: rotate(0)">
													<div class="margin-10px-top font-size14">18:30</div>
													<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocup.IdAula.id, dia: fecha|date('Y-m-d'), hora: "18:30"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
												</td>
											{% endif %}
										{% endif %}
									{% endif %}

									{% if 11 > ultCol %}
										{% if continuar==true %}
											{% if h1==19 and m1==00 %}
												{% set ultCol=ultCol+bloques %}
												{% include 'ocupacion/_td_ocup.html.twig' %}
												{% set continuar=false %}
											{% else %}
												{% set ultCol=11 %}
												<td class="bg-light-gray" style="transform: rotate(0)">
													<div class="margin-10px-top font-size14">19:00</div>
													<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocup.IdAula.id, dia: fecha|date('Y-m-d'), hora: "19:00"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
												</td>
											{% endif %}
										{% endif %}
									{% endif %}

									{% if 12 > ultCol %}
										{% if continuar==true %}
											{% if h1==19 and m1==30 %}
												{% set ultCol=ultCol+bloques %}
												{% include 'ocupacion/_td_ocup.html.twig' %}
												{% set continuar=false %}
											{% else %}
												{% set ultCol=12 %}
												<td class="bg-light-gray" style="transform: rotate(0)">
													<div class="margin-10px-top font-size14">19:30</div>
													<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocup.IdAula.id, dia: fecha|date('Y-m-d'), hora: "19:30"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
												</td>
											{% endif %}
										{% endif %}
									{% endif %}

									{% if 13 > ultCol %}
										{% if continuar==true %}
											{% if h1==20 and m1==00 %}
												{% set ultCol=ultCol+bloques %}
												{% include 'ocupacion/_td_ocup.html.twig' %}
												{% set continuar=false %}
											{% else %}
												{% set ultCol=13 %}
												<td class="bg-light-gray" style="transform: rotate(0)">
													<div class="margin-10px-top font-size14">20:00</div>
													<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocup.IdAula.id, dia: fecha|date('Y-m-d'), hora: "20:00"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
												</td>
											{% endif %}
										{% endif %}
									{% endif %}

									{% if 14 > ultCol %}
										{% if continuar==true %}
											{% if h1==20 and m1==30 %}
												{% set ultCol=ultCol+bloques %}
												{% include 'ocupacion/_td_ocup.html.twig' %}
												{% set continuar=false %}
											{% else %}
												{% set ultCol=14 %}
												<td class="bg-light-gray" style="transform: rotate(0)">
													<div class="margin-10px-top font-size14">20:30</div>
													<a href="#" rel="nofollow" id="btn-edit" data-ref="{{ path('ocupacion_new', {aula: ocup.IdAula.id, dia: fecha|date('Y-m-d'), hora: "20:30"|date('H:i')}) }}" data-id-aula="{ocupacion[0].IdAula.id}" data-dia="{fecha|date('Y-m-d')}" onclick="nueva(this);"><i class="fas fa-edit"></i></a>
												</td>
											{% endif %}
										{% endif %}
									{% endif %}

								{% endfor %}
							</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</tbody>
		</tr>
	</tbody>
</tr></tbody></table>

<div class="modal fade" id="newOcup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newOcup" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="newOcupLabel">Nueva Ocupación</h5>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="new-result">			
               
			</div>
			<div class="modal-footer">
            	
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="editOcup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editOcup" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editOcupLabel">Editar Ocupación</h5>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="edit-result">			
               
			</div>
			<div class="modal-footer">
            	
			</div>
		</div>
	</div>
</div>

</div></div>{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function nueva(btn) {       
            var aula = btn.getAttribute("data-id-aula");
			var dia = btn.getAttribute("data-dia");
			var dr = btn.getAttribute("data-ref");
            
            $.ajax({
                type: "POST",
                url: dr,
                //data: {'aula': aula, 'dia': dia},
			}).done(function (result) {
				$('#newOcup').modal('show');
                $("#new-result").html(result);
			});
		};

        function editar(btn) {       
            var id = btn.getAttribute("data-edit-id");
            
            $.ajax({
                type: "POST",
                url: '/ocupacion/edit_modal/'+id,
                data: {'id': id},
			}).done(function (result) {
				$('#editOcup').modal('show');
                $("#edit-result").html(result);
			});
		};

		function guardar() {
  			
    		$('body').addClass('busy');
  	
		};
    </script>
{% endblock %}