{% extends 'base.html.twig' %}

{% block title %}Ocupacion
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('styles/tabla_ocup.css') }}" rel="stylesheet"/>
{% endblock %}
{% block cardheader %}
	<div class="col-sm-3">
		<h5>Ocupación de Aulas por semana</h5>
	</div>
	<div class="col-sm-6">
	<div class="d-flex justify-content-center">
		<a class="btn btn-sm btn-outline-secondary mx-3" href="{{ path('ocupacion_index', {dia: date()}) }}" role="button">
			<i class="fas fa-calendar-day"></i>
		</a>
		<a class="btn btn-sm btn-outline-secondary" href="{{ path('ocupacion_index', {dia: fecha|date_modify("-7 day")|date('Y-m-d'), vista: 'semanal'}) }}" role="button">
			<i class="fas fa-chevron-circle-left"></i>
		</a>
		<div class="text-verdelogo fw-bold mx-3">{{fecha|date('d/m/Y')}}</div>
		<a class="btn btn-sm btn-outline-secondary" href="{{ path('ocupacion_index', {dia: fecha|date_modify("+7 day")|date('Y-m-d'), vista: 'semanal'}) }}" role="button">
			<i class="fas fa-chevron-circle-right"></i>
		</a>
	</div></div>
	{{ include("ocupacion/_form_filtro_area.html.twig", {vista: "semanal"}) }}
{% endblock %}
{% block cardbody %}
	<div class="container-fluid">
		<div class="table-responsive">
			<table class="table table-sm table-hover table-borderless align-top text-center">
				<thead class="table-light">
					<tr class="bg-light-gray">
						<th class="col-sm-1 text-uppercase" style="max-width: 10px">Aula</th>
						<th class="col-sm-1 text-uppercase">LUNES<br><div class="font-size13 text-light-gray">{{ fecha|date('d-m-Y') }}</div></th>
						<th class="col-sm-1 text-uppercase">MARTES<br><div class="font-size13 text-light-gray">{{ fecha|date_modify("+1 day")|date('d-m-Y') }}</div></th>
						<th class="col-sm-1 text-uppercase">MIERCOLES<br><div class="font-size13 text-light-gray">{{ fecha|date_modify("+2 day")|date('d-m-Y') }}</div></th>
						<th class="col-sm-1 text-uppercase">JUEVES<br><div class="font-size13 text-light-gray">{{ fecha|date_modify("+3 day")|date('d-m-Y') }}</div></th>
						<th class="col-sm-1 text-uppercase">VIERNES<br><div class="font-size13 text-light-gray">{{ fecha|date_modify("+4 day")|date('d-m-Y') }}</div></th>
						<th class="col-sm-1 text-uppercase">SABADO<br><div class="font-size13 text-light-gray">{{ fecha|date_modify("+5 day")|date('d-m-Y') }}</div></th>
					</tr>
				</thead>
				<tbody>
					{% set a = 0 %}
					{% for aula in aulas %}
						<tr>
						<td class="align-middle">
							{{aula.Aula}}<div class="text-primary">Capacidad:{{aula.capacidad}}</div>
						</td>

						<td>
						{% for ocup in lunes[a] %}						
							{% if ocup.id is null %}
								<div class="text-muted">LUNES</div>
								{# {{ path('ocupacion_new', {aula: ocup.IdAula.id, dia: fecha|date('Y-m-d'), hora: "14:00"|date('H:i')}) }} #}
								<a href="javascript:void(0)" data-ref={{ path('ocupacion_new') }} data-id-aula={{ocup.IdAula.id}} data-dia={{fecha|date('Y-m-d')}} data-hora="14:00" onclick="nueva(this);"><i class="fas fa-plus"></i></a>
							{% else %}		
								{% include 'ocupacion/_td_ocup_sem.html.twig' %}	 
							{% endif %}	
							<br>				
						{% endfor %}
						</td>

						<td>
						{% for ocup in martes[a] %}						
							{% if ocup.id is null %}								
								<div class="text-muted">MARTES</div>
								<a href="javascript:void(0)" data-ref={{ path('ocupacion_new') }} data-id-aula={{ocup.IdAula.id}} data-dia={{fecha|date_modify("+1 day")|date('Y-m-d')}} data-hora="14:00" onclick="nueva(this);"><i class="fas fa-plus"></i></a>
								{# <a href="{{ path('ocupacion_new', {aula: ocup.IdAula.id, dia: fecha|date_modify("+1 day")|date('Y-m-d'), hora: "14:00"|date('H:i')}) }}" class=""></a> #}
							{% else %}	
								{% include 'ocupacion/_td_ocup_sem.html.twig' %}		
							{% endif %}		
							<br>			
						{% endfor %}
						</td>

						<td>
						{% for ocup in miercoles[a] %}						
							{% if ocup.id is null %}								
								<div class="text-muted">MIERCOLES</div>
								<a href="javascript:void(0)" data-ref={{ path('ocupacion_new') }} data-id-aula={{ocup.IdAula.id}} data-dia={{fecha|date_modify("+2 day")|date('Y-m-d')}} data-hora="14:00" data-vista="semanal" onclick="nueva(this);"><i class="fas fa-plus"></i></a>
							{% else %}		
								{% include 'ocupacion/_td_ocup_sem.html.twig' %}	
							{% endif %}				
							<br>	
						{% endfor %}
						</td>

						<td>
						{% for ocup in jueves[a] %}						
							{% if ocup.id is null %}								
								<div class="text-muted">JUEVES</div>
								<a href="javascript:void(0)" data-ref={{ path('ocupacion_new') }} data-id-aula={{ocup.IdAula.id}} data-dia={{fecha|date_modify("+3 day")|date('Y-m-d')}} data-hora="14:00" onclick="nueva(this);"><i class="fas fa-plus"></i></a>
							{% else %}		
								{% include 'ocupacion/_td_ocup_sem.html.twig' %}	
							{% endif %}	
							<br>				
						{% endfor %}
						</td>

						<td>
						{% for ocup in viernes[a] %}						
							{% if ocup.id is null %}								
								<div class="text-muted">VIERNES</div>
								<a href="javascript:void(0)" data-ref={{ path('ocupacion_new') }} data-id-aula={{ocup.IdAula.id}} data-dia={{fecha|date_modify("+4 day")|date('Y-m-d')}} data-hora="14:00" onclick="nueva(this);"><i class="fas fa-plus"></i></a>
							{% else %}	
								{% include 'ocupacion/_td_ocup_sem.html.twig' %}		
							{% endif %}	
							<br>				
						{% endfor %}
						</td>

						<td>
						{% for ocup in sabado[a] %}						
							{% if ocup.id is null %}								
								<div class="text-muted">SABADO</div>
								<a href="javascript:void(0)" data-ref={{ path('ocupacion_new') }} data-id-aula={{ocup.IdAula.id}} data-dia={{fecha|date_modify("+5 day")|date('Y-m-d')}} data-hora="14:00" onclick="nueva(this);"><i class="fas fa-plus"></i></a>
							{% else %}		
								{% include 'ocupacion/_td_ocup_sem.html.twig' %}	
							{% endif %}	
							<br>				
						{% endfor %}
						</td>

						{% set a = a+1 %}
					{% endfor %}
				</tbody>
			</tbody>
		</tr>
	</tbody>
</tr></tbody></table>
{% include "ocupacion/_modales.html.twig" %}
</div></div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ asset('js/ocupacion.js') }}"></script>
<script>

//on ready 
$(function() {
	// filtro areas
	var fArea = $('#area');
    $.post("{{ path('areas_json') }}", function(areas) {
        $.each(areas, function (key,ar) {
            fArea.append('<option value="' + ar.id + '">' + ar.area + '</option>');
        });
		fArea.val({{area}}).change();
    }); 
	// fin filtro areas
});
</script>
{% endblock %}