{% extends 'base.html.twig' %}

{% block title %}Ocupación{% endblock %}
{% block cardheader %}
	<div class="col-sm-6">
		<h5>Ocupación</h5>
	</div>
{% endblock %}
{% block cardbody %}
    <table class="table table-sm table-striped table-borderless">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ocupacion.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ ocupacion.fecha ? ocupacion.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Hora_inicio</th>
                <td>{{ ocupacion.horaInicio ? ocupacion.horaInicio|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Hora_fin</th>
                <td>{{ ocupacion.horaFin ? ocupacion.horaFin|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ocupacion_index') }}">volver</a>

    <a href="{{ path('ocupacion_edit', {'id': ocupacion.id}) }}">editar</a>

    {{ include('ocupacion/_delete_form.html.twig') }}
{% endblock %}
