{% extends 'base.html.twig' %}

{% block cardheader %}
	<div class="col-sm-8">
		<h5><i class="bi bi-columns"></i> Aulas</h5>
	</div>
    <div class="col-sm-4">
        <a href="{{ path('aulas_new') }}" class="btn btn-sm btn-outline-secondary" role="button"><i class="bi bi-plus-square"></i> Nueva</a>
    </div>
{% endblock %}
{% block cardbody %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Aula</th>
                <th>Capacidad</th>
                <th>Edificio</th>
                <th>Piso</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for aula in aulas %}
            <tr>
                <td>{{ aula.id }}</td>
                <td>{{ aula.aula }}</td>             
                <td>{{ aula.capacidad }}</td>
                <td>{{ aula.IdEdificio.edificio }}</td>
                <td>{{ aula.IdPiso.piso }}</td>
                <td>
                  {% if is_granted("ROLE_ROOT") %}
                  <a href="{{ path('aulas_edit', {'id': aula.id}) }}"><i class="bi bi-pencil-square"></i></a>
                  {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">sin registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}