{% extends 'base.html.twig' %}

{% block cardheader %}
	<div class="col-sm-8">
		<h5>
			<i class="bi bi-house"></i>
			Edificios</h5>
	</div>
	<div class="col-sm-4">
		<a href="{{ path('edificios_new') }}" class="btn btn-sm btn-outline-secondary" role="button">
			<i class="bi bi-plus-square"></i>
			Nuevo</a>
	</div>
{% endblock %}
{% block cardbody %}
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Edificio</th>
				<th>Sede</th>
                <th>Pisos</th>
                {# <th>acciones</th> #}
			</tr>
		</thead>
		<tbody>
			{% for edificio in edificios %}
				<tr>
					<td>{{ edificio.id }}</td>
					<td>{{ edificio.edificio }}</td>
					<td>{{ edificio.Sede }}</td>
					<td>
						<ul>
							{% for p in edificio.getEdificiosPisos %}
								<li>{{ p.piso }}</li>
							{% endfor %}
						</ul>
					</td>
					<td>
						<a href="{{ path('edificios_edit', {'id': edificio.id}) }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Editar" data-bs-custom-class="custom-tooltip"><i class="bi bi-pencil-square"></i></a>
                        &nbsp;
						<a href="{{ path('edificios_pisos_index', {'edificio': edificio.id}) }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Pisos"><i class="bi bi-bookshelf"></i></a>
                        &nbsp;
						<a href="{{ path('aulas_index', {'edificio': edificio.id}) }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Aulas"><i class="bi bi-columns"></i></a>
                        &nbsp;
                        <a href="{{ path('app_user_edificios_index', {'edificio': edificio.id}) }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Usuarios"><i class="bi bi-people"></i></a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">sin registros</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script>
	const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
	const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
	</script>
{% endblock %}