{% extends 'base.html.twig' %}

{% block title %}Edificios{% endblock %}
{% block cardheader %}
	<div class="col-sm-8">
		<h5>Edificio</h5>
	</div>
	<div class="col-sm-2">
		<a href="{{ path('edificios_edit', {'id': edificio.id}) }}" class="btn btn-outline-primary" role="button">Editar</a>
	</div>
	<div class="col-sm-2">
		{{ include('edificios/_delete_form.html.twig') }}
	</div>
{% endblock %}
{% block cardbody %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ edificio.id }}</td>
            </tr>
            <tr>
                <th>Edificio</th>
                <td>{{ edificio.edificio }}</td>
            </tr>
            <tr>
                <th>Sede</th>
                <td>{{ edificio.Sede }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('edificios_index') }}" class="btn btn-sm btn-outline-secondary" role="button">volver</a>
{% endblock %}
