<div class="container">
{{ form_start(form) }}
    {{ form_widget(form) }}
    {# {{ form_widget(form.nombre) }}
    {{ form_widget(form.dni) }}
    {{ form_widget(form.email) }}
    {{ form_widget(form.roles) }}
    {{ form_widget(form.password) }} #}
    <button type="submit" class="btn btn-primary">Guardar</button>
{{ form_end(form) }}
</div>